.xyz1 {
    background-image: url('https://www.w3resource.com/images/w3resource-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 10px solid orangered;
    margin: 20%;
}

h1 {
    font-family: 'Montserrat', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: aliceblue;
}

p {
    font-family: 'Montserrat', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: aliceblue;
}